services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  hardhat:
    build:
      context: .
      dockerfile: packages/hardhat/Dockerfile
    container_name: hardhat-node
    working_dir: /usr/src/app
    ports:
      - "8545:8545"
    volumes:
      - ./packages/config:/usr/src/config
      - ./packages/hardhat:/usr/src/app
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:8545" ]
      interval: 5s
      timeout: 3s
      retries: 5

  app:
    container_name: organization-backend
    build:
      context: .
      dockerfile: ./packages/organization-backend/Dockerfile
    ports:
      - "80:${PORT}"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DB_HOST: db
      PORT: ${PORT}
      NODE_ENV: development
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    # Opcional: Montar volumen para desarrollo en vivo (hot-reload)
    # volumes:
    #   - ./src:/usr/src/app/src
    #   - /usr/src/app/node_modules
    # command: npm run dev

  ponder:
    container_name: ponder_indexer
    build:
      context: .
      dockerfile: packages/ponder/Dockerfile
    ports:
      - "${PONDER_PORT}:42069"
    command: sh -c "while sleep 3600; do :; done"
    environment:
      PONDER_RPC_URL_31337: "http://hardhat:8545"
      PONDER_PORT: ${PONDER_PORT}
      NODE_ENV: development
    depends_on:
      hardhat:
        condition: service_healthy
    restart: unless-stopped
    volumes:
      - ponder-cache:/.ponder
      - ./packages/config:/usr/src/config

volumes:
  db-data:
    driver: local
  ponder-cache:
    driver: local